[run]
branch = true
omit =
	*site-packages*

[report]
skip_covered = True
skip_empty = True
exclude_lines =
	if __name__ == "__main__":
	raise NotImplementedError

[html]
directory = .cov

[xml]
output = coverage.xml
